<!-- PAGE 3 start -->
<div
  class="logo black section content-page fp-scrollable"
  data-anchor="page 6"
  id="content-block-6"
>
  <div class="popouse">
    <div class="bodycopy white centered-text-container">
      <p class="font-size-control no-margin-bottom controled-text-size">
        &quot;Colb has given us the critical tools necessary to support our
        business model, strategies which help us to uphold our mission. It
        enables Conta Black to offer a more equal and inclusive financial market
        for everyone, especially those left out of the system:
        <i>the unbankings</i>.&quot;
        <span class="autor">Sergio All / CEO, Founder </span>
        <span class="autor" style="margin: 0;">contablack</span>
      </p>
    </div>
  </div>
</div>

<div
  class="doors2 section content-page"
  data-anchor="page 7"
  id="content-block-7"
>
  <div class="popouse centered-text-container">
    <p class="font-size-control controled-text-size">
      We conceptualize, plan and create tailor-made solutions. Each stage in
      every project is informed by Colb’s proprietary 4 Pillars methodology.
    </p>
  </div>
</div>

<div
  class="section content three content-page fp-scrollable"
  data-anchor="page 8"
  id="content-block-8"
>
  {% if is_mobile %}
  <div id="tab-component">
    {% include 'partials/tab_content.html' %}
  </div>
  {% else %}
  <div id="table-component">
    {% include 'partials/table_content.html' %}
  </div>
  {% endif %}
</div>
