<!-- PAGE 1 start -->
<div
  class="section logo black content-page"
  data-anchor="page 1"
  id="content-block-1"
>
  <div class="popouse">
    <p class="font-size-control">
      Blockchain technology and cryptocurrencies<br />
      will revolutionize the world economy.
    </p>
  </div>
</div>

<div
  data-anchor="page 2"
  id="content-block-2"
  class="section logo black content-page"
>
  <video autoplay muted loop>
    <source
      src="https://res.cloudinary.com/colb/video/upload/f_auto/v1582974906/Videos/video_mqjn3v.mp4"
      type="video/mp4"
    />
  </video>
  <div class="center-on-parent">
    <img
      class="logo2"
      src="/static/img/Colb_Logo_White.png"
      width="140"
      alt="logo"
    />
    <p style="margin: 0; margin-top: 8px;">
      Blockchain Experts
    </p>
  </div>
</div>

<div
  class="content three fp-scrollable section content-page"
  data-anchor="page 3"
  id="content-block-3"
>
  <div class="bodycopy text-start-middle centered-container">
    <h1 class="margin-left">Welcome to Colb</h1>
    <div class="scrollable-text font-size-control">
      <p>
        We are blockchain experts with a solid foundation in law. Our clients
        include existing ventures, start-ups, established companies,
        institutions, and fintechs. Colb’s specialists understand the complex
        blockchain environment for the global arena and employ a young,
        compelling technology to build strategic solutions. This is accomplished
        by combining onboard knowledge of regulatory, financial,
        marketing/communication and IT disciplines. Each client is unique, thus
        every solution is individually crafted, custom-tailored, and
        made-to-measure. Colb clients gain access to exceptional resources, team
        wisdom, partnerships, a network of professionals and sources of funding.
        In close collaboration with our clients and partners, we set-up global
        businesses designed for impact and to perform at the highest levels. We
        aim to build long-term relationships that yield sustainable and scalable
        results. Efficient problem-solving is the primary goal. By providing
        knowledge and counsel with commitment and passion, Colb responsibly
        supports its clients along their entrepreneurial journey.
      </p>
    </div>
  </div>
</div>
