<!-- PAGE 5 start -->
<div class="logo black section content-page" data-anchor="page 11" id="content-block-11">
    <div class="popouse">
        <div class="bodycopy white"><br>
            &quot;The Colb team has unique expertise not usually encountered in the market nowadays the
            combination of blockchain, crypto, and legal understanding. I initially attempted to work with big
            law firms in order to find what I ultimately discovered it at Colb. I am gratified and secure at
            having this team with us for Monnos’ journey from the outset. With Colb I am sure that we are
            prepared for whatever our ambitions require.&quot; <span class="autor">Rodrigo Soeiro Ubaldo / CEO,
                Co Founder</span>
            <img class="monnos" src="/static/img/monnos-1.svg" alt="monnos" />
        </div>
    </div>
</div>

<div class="content three section content-page fp-scrollable" data-anchor="page 12" id="content-block-12">
    <div class="bodycopy scrollable-text">
        <h1>People</h1>
        <div class="box">
            <div class="bio">
                <h3>CEO,<br>Client Principal</h3>
                <p>
                    <strong>Yulgan</strong> interprets and connects clients to Colb’s team and partners,
                    applying a
                    deep understanding of strategy and actions, and how they relate to the appropriate business
                    channels. A lawyer and author of three legal books, he holds a master of law specializing in
                    human rights and the prevention of international corruption from the Universidade Federal da
                    Paraíba.
                </p>
            </div>
            <div class="bio">
                <h3>Project Principal,<br> M&C Expert</h3>
                <p>
                    <strong>Caina</strong> leads the partners and teams through client projects with a
                    passionate
                    entrepreneurial spirit. She understands the complexities of roles, capabilities and the
                    critical
                    economics of time management. Caina’s skills enable her to safely and sustainably navigate
                    the
                    complex paths of idea communication. She helps Colb’s clients to consistently and
                    effectively
                    persuade and compete for audiences in the marketplace. Caina’s background includes 15 years
                    of
                    professional experience, over a decade of it in Project Management with a Swiss Private
                    Bank.
                    She holds a bachelor’s degree in Business Administration from the Haute école de gestion
                    Fribourg, Switzerland.
                </p>
            </div>
            <div class="bio">
                <h3><br>Regulatory Expert</h3>
                <p>
                    <strong>Yure</strong>’s intuition and creativity help him to design safe and sustainable
                    business solutions by ensuring conformity with the correct legislation. He holds both a
                    bachelor's degree in law from the Universidade Federal da Paraíba and a specialization in
                    public
                    law, corporate and tax law from the Universidade Cândido Mendes.
                </p>
            </div>
            <div class="bio">
                <h3><br>Regulatory Expert</h3>
                <p>
                    <strong>Ylana</strong>’s skills enable her to safely and sustainably navigate the complex
                    paths
                    of regulatory solutions by ensuring conformity with the correct legislation. Her background
                    includes a bachelor's degree in law from the Universidade Federal da Paraíba and a banking
                    law
                    certificate from Saint Paul Business School.
                </p>
            </div>
            <div class="bio">
                <h3><br>Technological Expert </h3>
                <p>
                    <strong>Rodrigo</strong> possesses the talent and experience to design safe and sustainable
                    forks, blockchain coins and tokens. He holds a bachelor's degree in mechanical engineering
                    from
                    the Polytechnic School of the University of São Paulo.
                </p>
            </div>
            <div class="bio">
                <h3><br>Practitioner </h3>
                <p>
                    <strong>Adriano</strong> currently studies for an MBA in digital transformation and the
                    future
                    of business at the Pontifícia Universidade Católica do Rio Grande do Sul. He completed a
                    bachelor's degree in law from the Universidade Presbiteriana Mackenzie of São Paulo. </p>
            </div>
            <div class="bio">
                <h3><br>Practitioner </h3>
                <p>
                    <strong>Caio</strong>’s masters degree in economic law from the Federal University of
                    Paraíba
                    focused on regulatory compliance for financial markets and specialization in foreign
                    commerce,
                    maritime and port law at the University Maurício de Nassau. </p>
            </div>
            <div class="bio">
                <h3><br>Practitioner </h3>
                <p>
                    <strong>Renato</strong> is completing the master’s degree program in international and
                    European
                    law at Faculdade de Direito da Universidade Nova de Lisboa, Portugal. His specialization
                    courses
                    at The Hague Academy of International Law and International Law Center (CEDIN) covered
                    international public law.
                </p>
            </div>
            <div class="bio">
                <h3><br>Intern </h3>
                <p>
                    <strong>Lucas</strong> studies business at the Universidade Presbiteriana Mackenzie of São
                    Paulo.
                </p>
            </div>
        </div>
    </div>
</div>