<!-- PAGE 2 start -->

<div
  class="logo black section content-page"
  data-anchor="page4"
  id="content-block-4"
>
  <div class="centered-phrase-container">
    <div class="popouse">
      <div class="bodycopy white centered-text-container">
        <p class="font-size-control controled-text-size">
          &quot;It is not the strongest of the species that survives, nor the
          most intelligent that survives. It is the one that is most adaptable
          to change.&quot;
          <span class="autor">Darwin </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="content fp-scrollable  three section content-page"
  data-anchor="page5"
  id="content-block-5"
>
  <div class="bodycopy text-start-middle centered-container">
    <h1 class="margin-left">Blockchain</h1>
    <div class="scrollable-text font-size-control">
      <p>
        We believe that it is the responsibility of modern society to guarantee
        the greatest number of people abundance and comfort. Positive
        alternatives will emerge in an era of income concentration, the debate
        over the merits of growth, and the need for new methods to transform the
        monopolistic hold on global wealth. Blockchain has the power to offer
        innovative mechanisms to a greater number of participants. Users can
        rely on a safe and transparent network which better addresses the
        problem of fallible intermediaries. Individuals can exercise control
        over their own money and track every transaction with the confidence
        that each is validated algorithmically. The blockchain's utility has the
        potential to extend beyond the realm of finance. It can ensure greater
        confidence in the production chain. The process of commodities and
        assets tokenization* will
        <a
          href="http://www3.weforum.org/docs/WEF_GAC15_Technological_Tipping_Points_report_2015.pdf"
          target="blank"
          style="color: black;"
          >The process of commodities and assets tokenization</a
        >
        will:
      </p>
      <ul class="centered-list">
        <li class="font-size-control">improve food source certification</li>
        <li class="font-size-control">streamline distribution networks</li>
        <li class="font-size-control">
          add leverage to the possibilities of investment and fractional
          ownership
        </li>
      </ul>
    </div>
  </div>
</div>
