<!-- PAGE 5 start -->
<div
  class="logo black section content-page"
  data-anchor="page11"
  id="content-block-11"
>
  <div class="centered-phrase-container">
    <div class="popouse">
      <div
        class="bodycopy white centered-text-container centered-big-text-container"
      >
        <p class="font-size-control no-margin-bottom controled-text-size">
          &quot;The Colb team has unique expertise not usually encountered in
          the market nowadays the combination of blockchain, crypto, and legal
          understanding. I initially attempted to work with big law firms in
          order to find what I ultimately discovered it at Colb. I am gratified
          and secure at having this team with us for Monnos’ journey from the
          outset. With Colb I am sure that we are prepared for whatever our
          ambitions require.&quot;
          <span class="autor">Rodrigo Soeiro Ubaldo / CEO, Co Founder</span>
        </p>
        <img class="monnos" src="/static/img/monnos-1.svg" alt="monnos" />
      </div>
    </div>
  </div>
</div>

<div
  class="content three section content-page fp-scrollable"
  data-anchor="page12"
  id="content-block-12"
>
  <div
    class="bodycopy scrollable-text no-max-width text-start-middle"
    style="justify-content: center;"
  >
    <div style="width: 100%; display: flex; justify-content: center;">
      <div class="centered-container" style="width: 100%;">
        <h1 class="margin-left">People</h1>
      </div>
    </div>
    <div class="box flex-body">
      <div class="bio">
        <h3>CEO, Client Principal</h3>
        <p class="bio-text">
          <strong>Yulgan</strong> interprets and connects clients to Colb’s team
          and partners, applying a deep understanding of strategy and actions,
          and how they relate to the appropriate business channels. A lawyer and
          author of three legal books, he holds a master of law specializing in
          human rights and the prevention of international corruption from the
          Universidade Federal da Paraíba.
        </p>
        <p>
          <a href="mailto:yulgan@colb.global" style="color: #000;"
            >yulgan@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>COO, Project Principal</h3>
        <p class="bio-text">
          <strong>Caina</strong> leads the partners and teams through client
          projects with a passionate entrepreneurial spirit. She understands the
          complexities of roles, capabilities and the critical economics of time
          management. Her background includes 15 years of professional
          experience, over a decade of it in Project Management with a Swiss
          Private Bank. She holds a bachelor’s degree in Business Administration
          from the Haute école de gestion Fribourg, Switzerland.
        </p>
        <p>
          <a href="mailto:caina@colb.global" style="color: #000;"
            >caina@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>CFO, Control Principal</h3>
        <p class="bio-text">
          <strong>Ronaldo</strong>’s effectively and consistently guides Colb’s
          clients through their business numbers so that they successfully
          achieve their goals. A graduate in administration and finance from the
          Centro Universitário das Faculdades Metropolitanas de São Paulo, he
          has more than fifteen years of professional experience. He’s served as
          controller in FP&A and M&A, and has worked for over a decade with
          private equity funds such as BTG, Vinci Partners and Pátria.
        </p>
        <p>
          <a href="mailto:ronaldo@colb.global" style="color: #000;"
            >ronaldo@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Expert</h3>
        <p class="bio-text">
          <strong>Yure</strong>’s intuition and creativity help him to design
          safe and sustainable business solutions by ensuring conformity with
          the correct legislation. He holds both a bachelor's degree in law from
          the Universidade Federal da Paraíba and a specialization in public
          law, corporate and tax law from the Universidade Cândido Mendes.
        </p>
        <p>
          <a href="mailto:yure@colb.global" style="color: #000;"
            >yure@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Expert</h3>
        <p class="bio-text">
          <strong>Ylana</strong>’s skills enable her to safely and sustainably
          navigate the complex paths of regulatory solutions by ensuring
          conformity with the correct legislation. Her background includes a
          bachelor's degree in law from the Universidade Federal da Paraíba and
          a banking law certificate from Saint Paul Business School.
        </p>
        <p>
          <a href="mailto:ylana@colb.global" style="color: #000;"
            >ylana@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Expert</h3>
        <p class="bio-text">
          <strong>Rodrigo</strong> possesses the talent and experience to design
          safe and sustainable forks, blockchain coins and tokens. He holds a
          bachelor's degree in mechanical engineering from the Polytechnic
          School of the University of São Paulo.
        </p>
        <p>
          <a href="mailto:r.freitas@colb.global" style="color: #000;"
            >r.freitas@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Practitioner</h3>
        <p class="bio-text">
          <strong>Adriano</strong> currently studies for an MBA in digital
          transformation and the future of business at the Pontifícia
          Universidade Católica do Rio Grande do Sul. He completed a bachelor's
          degree in law from the Universidade Presbiteriana Mackenzie of São
          Paulo.
        </p>
        <p>
          <a href="mailto:a.santos@colb.global" style="color: #000;"
            >a.santos@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Practitioner</h3>
        <p class="bio-text">
          <strong>Caio</strong>’s masters degree in economic law from the
          Federal University of Paraíba focused on regulatory compliance for
          financial markets and specialization in foreign commerce, maritime and
          port law at the University Maurício de Nassau.
        </p>
        <p>
          <a href="mailto:c.oliveira@colb.global" style="color: #000;"
            >c.oliveira@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Practitioner</h3>
        <p class="bio-text">
          <strong>Renato</strong> is completing the master’s degree program in
          international and European law at Faculdade de Direito da Universidade
          Nova de Lisboa, Portugal. His specialization courses at The Hague
          Academy of International Law and International Law Center (CEDIN)
          covered international public law.<br />
        </p>
        <p>
          <a href="mailto:r.almeida@colb.global" style="color: #000;"
            >r.almeida@colb.global</a
          >
        </p>
      </div>
      <div class="bio">
        <h3>Intern</h3>
        <p class="bio-text">
          <strong>Lucas</strong> studies business at the Universidade
          Presbiteriana Mackenzie of São Paulo.
        </p>
        <p>
          <a href="mailto:l.cunha@colb.global" style="color: #000;"
            >l.cunha@colb.global</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
