<!-- PAGE 2 start -->

<div class="logo black section content-page" data-anchor="page 4" id="content-block-4">
    <div class="popouse">
        <div class="bodycopy white">
            &quot;It is not the strongest of the species that survives,<br>
            nor the most intelligent that survives.<br>
            It is the one that is most adaptable to change.&quot;<br>
            <span class="autor">Darwin </span>
            <br><br>
        </div>
    </div>
</div>

<div class="content fp-scrollable  three section content-page" data-anchor="page 5" id="content-block-5">
    <div class="bodycopy text-start-middle">
        <h1>Blockchain</h1>
        <div class="scrollable-text font-size-control">
            We believe that it is the responsibility of modern society to guarantee the greatest number of
            people
            abundance and comfort. Blockchain emerges as a positive alternative in an era of income
            concentration,
            the debate over the merits of growth, and the need for new methods to transform the monopolistic
            hold on
            global wealth.

            Blockchain has the power to offer innovative mechanisms to a greater number of participants. With
            blockchain, users can rely on a safe and transparent network which better addresses the problem of
            fallible intermediaries. Within the blockchain, individuals can exercise control over their own
            money
            and track every transaction with the confidence that each is validated algorithmically.

            The blockchain's utility has the potential to extend beyond the realm of finance. It can ensure
            greater
            confidence in the production chain. The process of commodities and assets tokenization* will
            <ul>
                <li>improve food source certification </li>
                <li>streamline distribution networks </li>
                <li>add leverage to the possibilities of investment<br> and fractional ownership </li>
            </ul>

            *The World Economic Forum estimates that by 2030 tokenization of assets may represent 10% of world
            GDP.

            For more information about tokenization, see Section 3, Colb’s Blockchain Landscape
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>