<!-- PAGE 4 start -->
<div class="logo black section content-page" data-anchor="page 9" id="content-block-9">
    <video autoplay muted loop>
        <source src="/static/video/video9.mp4" type="video/mp4">
    </video>
</div>

<div class="content three section content-page fp-scrollable " data-anchor="page 10" id="content-block-10">
    <div class="bodycopy">
        <div class="scrollable-text">
            <h1>Colb’s view on the market</h1>
            We live in an era of profound change. And change is all about adaptation. The blockchain concept carries
            great promise because the technology which supports cryptocurrency can revolutionize the world economy.
            Our desire is to play an active part in this new imperative.
            <br><br><br>
            <h1>Market strategy</h1>
            We’re part of a new market, only ten years old. Look at the blockchain’s potential: cryptocurrencies
            alone have already averaged more profitable growth than other categories of investment. Diverse areas of
            economics relative to the blockchain remain to be implemented, among them the inclusion of technology to
            define the origin of products in the production chain, including asset and commodity tokenization.
            <p>Ventures which demonstrate solid fundamentals and outstanding possibilities are today actively
                entering the market. However, there is still space for the category to better establish itself. This
                represents our opportunity to play a serious role in blockchain’s evolution.
            </p><br>
            <h1>Plan to reach the market</h1>
            Four relevant factors justify our market thesis:
            <ul>
                <li><i>new ventures</i>: many viable businesses for us to assist; </li>
                <li><i>profound challenges</i>: new territories in which we can create; </li>
                <li><i>growing knowledge base</i>: opportunities for us<br> to broaden our wisdom; </li>
                <li><i>areas to implement with our expertise</i>: spaces<br> where Colb can grow. </li>
            </ul>
        </div>
    </div>
</div>