<!-- PAGE 4 start -->
<div
  class="logo black section content-page"
  data-anchor="page9"
  id="content-block-9"
>
  <video autoplay muted loop>
    <source
      src="https://res.cloudinary.com/colb/video/upload/f_auto/v1582974908/Videos/video1_l5ckrt.mp4"
      type="video/mp4"
    />
  </video>
</div>

<div
  class="content three fp-scrollable section content-page"
  data-anchor="page10"
  id="content-block-10"
>
  <div class="bodycopy text-start-middle centered-container">
    <h1 class="margin-left">Tokenization</h1>
    <div class="scrollable-text font-size-control">
      <p>
        Society claims for alternatives for commercialization of illiquid
        assets. Tokenization allows anyone to perform a transaction as easy as
        sending an email.
      </p>
      <p>
        &nbsp;The asset can be represented by more than one digital title,
        called a token. The property right or claim is embodied into a token,
        performing an ideal fragment of the asset, which is negotiable
        separately and worldwide, through smart contracts, without an
        intermediary.
      </p>
      <p>
        &nbsp;At Colb, the process involves four steps, from the legal and
        financial aspects of the tokenized asset to the marketing and
        communication, not to forget the technological genesis of the token in
        the blockchain, to grant the listing and distribution with distinction.
      </p>
    </div>
    <br />
  </div>
</div>
