<!-- PAGE 6 start -->
<div
  class="logo black section content-page"
  data-anchor="page 13"
  id="content-block-13"
>
  <video autoplay muted loop>
    <source src="https://res.cloudinary.com/colb/video/upload/v1582974911/Videos/video2_dpt1vv.mp4" type="video/mp4" />
  </video>
</div>

<div
  class="content three section content-page centered-content"
  data-anchor="page 14"
  id="content-block-14"
>
  <div class="contacts">
    <ul>
      <li>
        <a href="mailto: hi@colb.global" style="color: #000;">hi@colb.global</a>
      </li>
    </ul>
    <ul>
      <li class="font-size-control">Rua Cayowaá 1071, cj. 25,</li>
      <li class="font-size-control">Postcode 05018-010, Perdizes,</li>
      <li class="font-size-control">São Paulo, SP, Brazil</li>
    </ul>
  </div>
</div>
