<!-- PAGE 6 start -->
<div
  class="logo black section content-page"
  data-anchor="page13"
  id="content-block-13"
>
  <video autoplay muted loop>
    <source 
      src="https://res.cloudinary.com/colb/video/upload/v1583526277/Videos/video3_qzfu0a.mp4"
      type="video/mp4"
    />
    <source 
      src="https://res.cloudinary.com/colb/video/upload/v1583526459/Videos/video3_aebgt8.webm"
      type="video/webm"
    />
    <source 
      src="https://res.cloudinary.com/colb/video/upload/v1583526469/Videos/video3_svq9no.ogv"
      type="video/ogg"
    />
  </video>
</div>

<div
  class="content three section content-page centered-content"
  data-anchor="page14"
  id="content-block-14"
>
  <div class="contacts">
    <ul>
      <li>
        <a href="mailto: hi@colb.global" style="color: #000;">hi@colb.global</a>
      </li>
    </ul>
    <ul>
      <li class="font-size-control">Rua Cayowaá 1071, cj. 25,</li>
      <li class="font-size-control">Postcode 05018-010, Perdizes,</li>
      <li class="font-size-control">São Paulo, SP, Brazil</li>
    </ul>
  </div>
</div>
