<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>colb.global</title>
    <meta name="author" content="Mattia Conconi" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="shortcut icon"
      href="graphics/ico/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="graphics/ico/apple-touch-icon-114x114-precomposed.png"
    />
    <link rel="icon" href="graphics/ico/favicon.ico" type="image/x-icon" />
    {% comment %}
    <link rel="stylesheet" type="text/css" href="/static/css/fullpage.css" />
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css2/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css2/responsive-table.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css2/scrollable-text.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/pageable.min.css" /> -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=EB+Garamond|Noto+Sans+JP:100&display=swap');
    </style>

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/jquery.fullPage.css"
    />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% comment %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    {% endcomment %}

    <script
      type="text/javascript"
      src="/static/js/jquery.slimscroll.min.js"
    ></script>

    <script
      type="text/javascript"
      src="/static/js/jquery.fullPage.min.js"
    ></script>

    <script type="text/javascript" src="/static/js/opacity-control.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/fade-effect.css" />
  </head>

  <body>
    <div class="mark-menu">
      <div style="background-color: #ffdf00; display: flex; justify-content: center;" class="full-screen menu">
        <div class="menues">
          <li>
            <a href="#" onclick="navigate(3)" class="menu-item-clicable font-size-control">
              Welcome to Colb
            </a>
          </li>
          <li>
            <a href="#" onclick="navigate(5)" class="menu-item-clicable font-size-control">
              Blockchain
            </a>
          </li>
          <li>
            <a href="#" onclick="navigate(7)" class="menu-item-clicable font-size-control">
              Project architecture
            </a>
          </li>
          <li>
            <a href="#" onclick="navigate(10)" class="menu-item-clicable font-size-control">
              Tokenization
            </a>
          </li>
          <li>
            <a href="#" onclick="navigate(12)" class="menu-item-clicable font-size-control">
              People
            </a>
          </li>
          <li>
            <a href="#" onclick="navigate(14)" class="menu-item-clicable font-size-control">
              Contacts
            </a>
          </li>
        </div>
      </div>
    </div>

    <div class="nav-icon">
      <span></span>
      <span></span>
    </div>
    <div id="main-container" class="container">
			{% include 'partials/page1.html' %}
			{% include 'partials/page2.html' %}
			{% include 'partials/page3.html' %}
			{% include 'partials/page4.html' %}
			{% include 'partials/page5.html' %}
			{% include 'partials/page6.html' %}
    </div>
  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#main-container').fullpage({
        css3: true,
        scrollOverflow: true
        // onLeave: function(index, nextIndex, direction){
        // 	console.log('onLeave', arguments);
        // },
        // afterLoad: function(anchorLink, index){
        // 	console.log('afterLoad', arguments);
        // },
        // afterRender: function(){
        // 	console.log('afterRender', arguments);
        // },
        // afterResize: function(){
        // 	console.log('afterResize', arguments);
        // },
        // afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){
        // 	console.log('afterSlideLoad', arguments);
        // },
        // onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){
        // 	console.log('onSlideLeave', arguments);
        // }
      });
    });

    $(window).scroll(function() {
      if ($(this).scrollTop() > 400 && $(this).scrollTop() < 3000) {
        $('.search').fadeIn();
      } else {
        $('.search').fadeOut();
      }
    });

    $(document).ready(function() {
      $('.nav-icon').click(function() {
        $(this).toggleClass('open');
        $('.mark-menu').toggleClass('show-menu');
      });
    });

    $(document).ready(function() {
      $('.menu-item-clicable').click(function() {
        $('.nav-icon').toggleClass('open');
        $('.mark-menu').toggleClass('show-menu');
      });
    });

    function navigate(page) {
      $.fn.fullpage.moveTo(page, 0);
    }

  </script>
</html>
