<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>to.org</title>
	<meta name="author" content="Mattia Conconi" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="shortcut icon" href="graphics/ico/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="graphics/ico/apple-touch-icon-114x114-precomposed.png">
	<link rel="icon" href="graphics/ico/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/fullPage.js"></script>
</head>

<body style="background-color: #ffdf00; ">

	<div class="full-screen">
		<div class="menues" >
				<li>Welcome to Colb</li>
				<li>Blockchain</li>
				<li>Project architecture</li>
				<li>Colb and the marketplace</li>
				<li>People</li>
				<li>Contacts</li>
		</div>
	</div>
</body>

<script src="js/modernizr.min.js"></script>
<script type="text/javascript" src="js/fadeOut.js"></script>

</html>
