html,
button,
input,
select,
textarea {
  color: rgb(20, 20, 20);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -ms-font-smoothing: grayscale;
  -o-font-smoothing: grayscale;
  font-smoothing: grayscale;
  /* background-color: rgb(246, 246, 246); */
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  line-height: 120%;
}

a {
  text-decoration-color: #ffdf00;
  text-underline-position: under;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.contacts {
  color: rgb(20, 20, 20);
  max-width: 800px;
  padding: 10px;
  margin: auto;
  align-self: center;
}

.monnos {
  width: auto;
  height: 0.85em;
}

.contablack {
  width: auto;
  height: 0.65em;
  margin-top: -6em;
}

.contacts ul {
  margin: 0 0 0.5em 0;
}

.centered-text-container {
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.controled-text-size {
  max-width: 600px;
}

li {
  list-style-type: none;
}

.lebel {
  margin: 0.5em 0 -0.5em -1em;
  font-size: 0.75em;
}

.bodycopy2 {
  color: rgb(20, 20, 20);
  max-width: 500px;
  padding: 10px;
  font-size: 24px;
  line-height: 120%;
  margin: auto;
  min-height: 100%;
}

.white {
  color: white;
}

.autor {
  margin-top: 0.375em;
  font-size: 0.75em;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 1em;
  max-width: 23%;
}

.bio p {
  font-size: 0.75em;
  line-height: 110%;
  width: unset !important;
  margin: 0 !important;
}

.bio .bio-text {
  margin: 1em 0 !important;
}

.bio h3 {
  margin: 0;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 120%;
  display: table-cell;
  vertical-align: bottom;
}

.box {
  margin: auto;
}

/* table: 
=============================================*/
.fixed_headers {
  position: relative;
  top: 0;
  width: 100%;
  background-color: white;
}

.fixed_headers table {
  border-bottom: 1px solid black;
}

.fixed_headers div {
  position: static;
}

.table_header_container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.table_header_item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

table {
  color: black;
  width: 1600px;
  text-align: left;
  margin: 0 auto;
}

.fixed_headers table {
  height: 100%;
}

th {
  vertical-align: bottom;
}

td,
th {
  padding: 10px;
  width: 8em;
  min-width: 8em;
  max-width: 8em;
}

td {
  padding-bottom: 30%;
  padding-right: 5px;
  vertical-align: top;
}

td ul {
  padding-left: 0;
}

td li {
  margin-right: 40px;
  list-style-type: none;
}

td li::before {
  content: '— ';
}

/*Menu --------------------------------------- */

.menu {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 1);
  position: static;
  z-index: -1;
  transition: all 400ms ease-in-out;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.afterall {
  opacity: 0;
  transition: all 400ms ease-in-out;
  transition-delay: 400ms;
}

/*When class added by js, the menu will show up*/

.show-menu .menu {
  opacity: 1;
  z-index: 10000;
}

.show-menu .afterall {
  opacity: 1;
}

.menues {
  text-align: center;
  align-self: center;
}

.menues li {
  list-style-type: none;
}

.menues li a {
  text-decoration: none;
  color: black;
}

.menues li a:hover {
  text-decoration: underline;
}

.menu ul li:hover {
  background: #fff;
}

.menu ul li a {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: inline-block;
}

.menu ul li:hover a {
  color: rgb(40, 40, 40);
}

.nav-icon {
  right: 0;
  margin: 30px 30px;
  position: static;
  z-index: 100000;
  width: 50px;
  height: 20px;
  padding-top: 15px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

em {
  position: absolute;
  left: 10px;
  top: 10px;
  font-style: normal;
  z-index: -1;
  font-size: 0.6em;
  line-height: 1em;
}

span {
  display: block;
}

.news {
  z-index: 1;
  background-color: white;
  width: 350px;
  padding: 25px;
  height: 550px;
  position: relative;
  color: rgb(20, 20, 20);
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: -400px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.news:hover {
  background-color: rgba(20, 20, 20, 1);
  color: white;
}

.news img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
}

.logo {
  top: 0;
  position: static;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  overflow-x: hidden;
}

.search:hover {
  background: rgb(20, 20, 20);
  color: white;
}

.search {
  cursor: text;
  z-index: 2;
  padding: 0.9em 1.5em;
  background-color: white;
  color: rgb(25, 25, 25);
  width: 400px;
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.search img {
  position: absolute;
  right: 25px;
  top: 20px;
}

.black {
  background: rgb(20, 20, 20);
}

video {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.code {
  font-size: 30em;
  margin: 0 0 0 -0.05em;
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: black;
}

.architecture {
  font-size: 2em;
  text-align: center;
  padding: 0;
  margin: 0;
  position: static;
  top: 0%;
  height: 15%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.architecture > .centered-text {
  align-self: center;
}

#secondo,
#terzo {
  display: none;
}

.doors {
  color: white;
  line-height: initial;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.doors2 {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.doors li {
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 60px;
}

.doors li:first-child {
  margin-left: 1em;
  float: left;
  margin-right: 60px;
}

#fading {
  opacity: 0;
}

li:hover {
  color: black;
  opacity: 1;
}

li:hover + img {
  opacity: 1;
}

.content {
  line-height: 120%;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.content img {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.content h2 {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 1em;
}

.content p {
  margin: 0;
  line-height: 120%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.content p:first-of-type {
  text-indent: 0;
}

.column {
  margin: 20px auto 0 auto;
  width: 900px;
  line-height: 1.1em;
  display: inline-flex;
}

.column ul {
  width: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.column li {
  list-style-type: none;
  margin-right: 10px;
}

.column li:first-child {
  margin-left: 0;
}

/* Use a media query to add a breakpoint at 800px: 
=============================================*/
@media screen and (max-width: 2000px) {
  .code {
    font-size: 25em;
  }
}

/* Use a media query to add a breakpoint at 800px: 
=============================================*/
@media screen and (max-width: 800px) {
  body {
    font-size: 19px;
  }

  .bio {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  .bio p {
    width: unset !important;
    padding: 0 10px 10px 10px;
  }

  .bio h3 {
    width: auto;
    padding: 20px 10px 0 10px;
  }

  .bio h3 br {
  }

  /*animazioni
=============================================*/

  @keyframes fadelogo {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }
}

.center-on-parent {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo2 {
  align-self: center;
}

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
}

.text-start-middle {
  margin-top: 25% !important;
}

/* Tab */

#tab-component {
  height: 100%;
  padding-top: 50px;
}

.tab-title {
  color: black;
  padding-left: 30px;
  width: unset !important;
  font-size: 2em !important;
  margin: 20px 0 25px 0 !important;
  padding-left: 0 !important;
}

.tab-container {
  color: black;
  margin: 30px;
  word-break: break-word;
}

.bar-container {
  display: flex;
  border-bottom: 0.4px solid black;
}

.bar-button {
  text-decoration: none;
  padding: 10px;
}

.tab-container h2 {
  width: unset !important;
  padding-left: 10px;
}

.tab-container ul {
  margin-top: 0;
}

.tab-container ul li::before {
  content: '— ';
}

.centered-content {
  display: flex;
}

.centered-phrase-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #tab-component {
    margin: 0 20%;
  }
  .bar-button {
    padding-right: 30px;
  }
  .tab-container h2 {
    font-size: 24px !important;
  }
  .tab-container {
    font-size: 20px !important;
    line-height: 120% !important;
  }
  .tab-title {
    font-size: 24px !important;
  }
}

@media (min-width: 1024px) {
  #tab-component {
    margin: 0 25%;
  }
  .margin-left {
    margin-left: -100px;
  }
}

@media (max-width: 1050px) {
  .bio {
    max-width: 31%;
  }
}

@media (max-width: 850px) {
  .bio {
    max-width: 47%;
  }
}

@media (max-width: 450px) {
  .center-on-parent {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .text-start-middle {
    margin-top: 240px !important;
  }

  .bio {
    max-width: 100%;
    border-bottom: 1px solid black;
  }

  .font-size-control {
    font-size: 20px;
    line-height: 24px;
  }
}

/* .text-start-middle h1 {
  left: -100px;
} */

@media (max-width: 996px) {
  .text-start-middle h1 {
    left: 0px;
  }
}
