.header-container-fixed {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0%;
	background-color: white;
}

.header-container-flex {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}

.header-container-flex h2 {
	color: black;
	text-align: center;
	position: absolute;
	bottom: 0%;
}

.table-container-fixed {
	position: absolute;
	width: 100%;
	height: 40% !important;
	top: 60%;
	overflow: auto !important;
}

.fixed-headers {
	position: fixed;
	background-color: white;
	transform: translateY(-51px);
}

.moving-body {
	/* padding-top: 55px; */
}

.table thead th {
    position: static;
    top: 0%;
    width: 100%;
	background-color: white;
}

.table thead tr {
	display: flex;
	flex-wrap: nowrap;
	border-bottom: 1px solid black;
}

.table thead tr th {
	flex: 1 1 25% !important;
	width: 100%;
	min-width: unset !important;
	max-width: unset !important;
	font-size: 16px;
	padding-bottom: 0px;
}

.table thead tr th::before {
	padding-left: 5px;
	content: "";
}

.table tbody {
	/* overflow-y: scroll; */
}

.table thead {
	border-bottom: 1px solid black;
	font-size: 18px;
}

.table tbody td {
	max-width: unset !important;
	min-width: unset !important;
	padding-top: unset !important;
}

.table tbody td li {
	font-size: 16px;
	line-height: 18px;
	margin-right: unset !important;
	word-break: normal;
}

.table tbody td ul {
	margin-top: unset !important;
}

.table tbody td li::before {
	content: "- ";
}

.table tbody {
	/* max-width: 100% !important; */
}

.table {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	/* overflow-y: auto;  */
	/* height: 100px; */
}

